name: CI - Retrain with MLflow Project

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas

      - name: Run MLflow Project (no conda)
        run: |
          cd MLProject
          export MLFLOW_TRACKING_URI="file:./mlruns"
          export MLFLOW_EXPERIMENT_NAME="ci_experiment"
          mlflow run . -e main --env-manager local

      - name: Upload MLruns artifact
        uses: actions/upload-artifact@v4
        with:
          name: mlruns
          path: MLProject/mlruns
